<h1>Registrar</h1>
<form action="/registrar" method="POST">
  <input type="text" name="username" placeholder="Usuario"/>
  <input type="password" name="password" placeholder="Senha"/>
  
  <button>Registrar</button>
</form>